<div class="open-lock-content">
    <h3 class="form-header">{{localize "OpenLock.ItemLabel.SheetEnabled"}}</h3>
    <div class="form-group input-select">
        <label>{{localize "OpenLock.ItemLabel.SheetEnabled"}}</label>
        <input type="checkbox" name="flags.innocenti-openlock.enabled" {{checked enabled}}>
    </div>
    <div class="open-lock-enabled">
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.keylock"}}</label>
            <input type="text" name="flags.innocenti-openlock.keylock" value="{{keylock}}">
        </div>
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.wallCoord"}}</label>
            <input type="text" name="flags.innocenti-openlock.wallCoord" value="{{wallCoord}}">
        </div>
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.disarmTrapDC"}}</label>
            <input type="text" name="flags.innocenti-openlock.disarmTrap" value="{{disarmTrap}}" data-dtype="Number">
        </div>
        <div class="form-group input-select">
            <label>{{localize "OpenLock.ItemLabel.findTrapDC"}}</label>
            <div class="form-fields">
                <input class="open-lock-charges" type="text" data-dtype="Number" name="flags.innocenti-openlock.findTrap" value="{{findTrap}}">
                <select name="flags.innocenti-openlock.skillfindTrap">
                    <option value="prc" {{#ifeq skillfindTrap "prc"}} selected{{/ifeq}}>{{localize "OpenLock.ItemLabel.Perception"}}</option>
                    <option value="inv" {{#ifeq skillfindTrap "inv"}} selected{{/ifeq}}>{{localize "OpenLock.ItemLabel.Investigation"}}</option>
                </select>
            </div>
        </div>
        <div class="form-group input-select">
            <label>{{localize "OpenLock.ItemLabel.passiveDC"}}</label>
            <input type="text" name="flags.innocenti-openlock.passive" value="{{passive}}" data-dtype="Number">
        </div>
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.forceLockDC"}}</label>
            <input type="text" data-dtype="Number" name="flags.innocenti-openlock.forceLock" value="{{forceLock}}">
        </div>
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.openLockDC"}}</label>
            <input type="text" data-dtype="Number" name="flags.innocenti-openlock.openLock" value="{{openLock}}">
        </div>
        <div class="form-group">
            <label>{{localize "OpenLock.ItemLabel.toolsBreak"}}</label>
            <input type="text" data-dtype="Number" name="flags.innocenti-openlock.toolsBreak" value="{{toolsBreak}}">
        </div>
    </div>
</div>